{% extends "website/base.html" %}

{% block content %}
<div class="productcontent">
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c1.jpg" alt="product image">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c2.jpg" alt="product image">
            </div>
            <div class="itemname">1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c3.jpg" alt="product image">
            </div>
            <div class="itemname">WD Blue PCle NVME SSD , 2400MB/s R, 1750MB/s W, 500GB</div>
            <div class="itemprice">Price: Rs.6500.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c4.jpg" alt="product image">
            </div>
            <div class="itemname">XPG SX8200 Pro 3D NAND 1TB Solid State Drive</div>
            <div class="itemprice">Price: Rs.15,419.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c5.jpg" alt="product image">
            </div>
            <div class="itemname">XPG Adata SX6000 Pro 256GB PCIe Gen3x4 M.2 Solid State Drive</div>
            <div class="itemprice">Price: Rs.3909.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c6.jpg" alt="product image">
            </div>
            <div class="itemname">Adata SU800 1TB M.2 2280 3D NAND Ultimate Internal Solid State Drive</div>
            <div class="itemprice">Price: Rs.10759.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c7.jpg" alt="product image">
            </div>
            <div class="itemname">XPG Adata SX6000 Lite 1TB 3D NAND Solid State Drive</div>
            <div class="itemprice">Price: Rs.10,189.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c8.jpg" alt="product image">
            </div>
            <div class="itemname">XPG GAMMIX S50 Lite 1TB M.2 2280 PCIe Gen 4.4 NVMe 1.4 Internal SSD (AGAMMIXS50L-1T-C)
            </div>
            <div class="itemprice">Price: Rs.13,650.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c9.jpg" alt="product image">
            </div>
            <div class="itemname">Samsung 970 Evo 1TB - NVMe PCIe M.2 2280 Solid State Drive (MZ-V7E1T0BW)</div>
            <div class="itemprice">Price: Rs.14679.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c10.jpg" alt="product image">
            </div>
            <div class="itemname">Crucial P1 1TB 3D NAND NVMe PCIe M.2 SSD - CT1000P1SSD8</div>
            <div class="itemprice">Price: Rs.9252.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c11.jpg" alt="product image">
            </div>
            <div class="itemname">Western Digital WD Black NVME SN750 1 TB M.2 2280-S3-M PCIe Gen3 Internal Solid State
                Drive</div>
            <div class="itemprice">Price: Rs.12000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c12.jpg" alt="product image">
            </div>
            <div class="itemname">Western Digital WD Black NVME 1 TB M.2 2280-S3-M PCIe Gen3 Internal Solid State
                Drive,500GB</div>
            <div class="itemprice">Price: Rs.10980.00 </div>
        </div>
    </div>
</div>
{% endblock  %}